<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: "Users" do %>
    <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
  <% end %>

  <%= render "page_header_actions" do %>
    <%= link_to "Filters", "#offcanvas_filters", "data-bs-toggle": "offcanvas", class: "btn btn-white" %>
    <%= link_to "New user", new_admin_user_path, class: "btn btn-primary" %>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-vcenter table-nowrap card-table table-striped">
          <thead>
            <tr>
              <th><%= sort_link @search, :id %></th>
              <th><%= sort_link @search, :email %></th>
              <th><%= sort_link @search, :created_at %></th>
              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.id, user %></td>
                <td><%= user.email %></td>
                <td><%= l(user.created_at, format: :long) %></td>
                <td>
                  <%= link_to "View", user, class: "btn btn-white btn-sm" %>
                  <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-white btn-sm" %>
                  <%= button_to "Delete", user, method: :delete, "data-confirm": "Are you sure?", form_class: "d-inline", class: "btn btn-white btn-sm" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center fs-5">
        <div class="d-none d-md-block">
          <div>Download: <%= link_to "CSV", admin_users_path(format: :csv, q: request.params[:q]) %></div>
          <%= raw pagy_info(@pagy) %>
        </div>
        <div class="ms-auto">
          <%= render "pagination", pagy: @pagy %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="offcanvas_filters" tabindex="-1" class="offcanvas offcanvas-end">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title">Filters</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <%= search_form_for @search, class: "offcanvas-body" do |f| %>
    <%= f.label :email_cont, class: "form-label" %>
    <%= f.text_field :email_cont, class: "form-control mb-3" %>

    <%= f.label :created_at, class: "form-label" %>
    <div class="d-flex gap-1 mb-3">
      <%= f.date_field :created_at_gteq, class: "form-control" %>
      <%= f.date_field :created_at_lteq, class: "form-control" %>
    </div>

    <%= f.submit "Filter", class: "btn btn-primary" %>
    <%= link_to "Clear Filter", admin_users_path, class: "btn btn-white" %>
  <% end %>
</div>
