<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: "New user" do %>
    <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
    <li class="breadcrumb-item"><%= link_to "Users", admin_users_path %></li>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
</div>
