<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: @user.email do %>
    <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
    <li class="breadcrumb-item"><%= link_to "Users", admin_users_path %></li>
  <% end %>

  <%= render "page_header_actions" do %>
    <%= link_to "Edit user", edit_admin_user_path(@user), class: "btn btn-primary" %>
    <%= button_to "Delete user", @user, method: :delete, "data-confirm": "Are you sure?", form_class: "d-inline", class: "btn btn-white" %>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">User details</h3>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-md-3">Email</dt>
          <dd class="col-md-9"><%= @user.email %></dd>

          <dt class="col-md-3">Created at</dt>
          <dd class="col-md-9"><%= l(@user.created_at, format: :long) %></dd>

          <dt class="col-md-3">Updated at</dt>
          <dd class="col-md-9"><%= l(@user.updated_at, format: :long) %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
