<%= form_with(url: admin_password_reset_path, class: "card card-md") do |form| %>
  <div class="card-body">
    <h1 class="card-title text-center mb-4">Forgot password</h1>
    <p class="text-muted mb-4">Enter your email address and your password will be reset and emailed to you.</p>
    <div class="mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email, placeholder: "Enter email", autofocus: true, required: true, class: "form-control" %>
    </div>
    <div class="form-footer">
      <%= form.submit "Send me new password", class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>

<div class="text-center text-muted mt-3">
  Forget it, <%= link_to "send me back", admin_sign_in_path %> to the sign in screen.
</div>
